.git
.github
.gitignore
.gitmessage
.air.toml
*.db
*.db-shm
*.db-wal
*.out
*.test
data
dist
build
filabridge
filabridge.exe
main
node_modules
package.json
package-lock.json
playwright.config.js
playwright-report
screenshots
testdata
test-results
tests
